form {
    width: 250px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #cccccc;
}

.dashed {
  font-size: 18px;
  color: #2c3e50;
  /* text-align: center; */
  border-bottom: 1px dashed #2c3e50;
  /* text-decoration: underline */;
  margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #2c3e50;
    font-size: 16px;
}

input[type="number"]{
  display: block;  
  height: 20px;
  width: 70px;
  margin-bottom: 5px;
  padding: 2px 5px;
  border: 1px solid orange;
  border-radius: 5px;
  font-size: 12px;
}

textarea{
    height: 100px;
    width: 200px;
    margin-bottom: 5px;
    padding: 2px 5px;
    border: 1px solid #2c3e50;
    border-radius: 5px;
}


input[type="button"], input[type="reset"]{
    display: inline-block;
    width: auto;
    margin: 0 5px;
    padding: 6px 15px;
    color: #ffffff;
    background: #2c3e50;
    border: none;
    border-radius: 5px;
}

.key {
  background: #ffff url('http://icons.iconarchive.com/icons/paomedia/small-n-flat/128/key-icon.png') no-repeat 95%;
  background-size: 20px;
}

.buttons {
    /* text-align: center; */
}

body {
    width: 460px;
    padding: 20px;
    font-size: 14px;
    font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
}
